<%= render "users/shared/nav" %>
<div class="container justify-content-center" style="margin-top: 100px; margin-bottom: 100px; width: 35%;">
  <h1 class=" mt-1"><b>Winner Feedback</b></h1>
  <div class="card shadow border-light bg-light ">
    <div class="rounded-start">
      <%= image_tag @winner.picture.url, style: "width: 100%;" %>
    </div>
    <div class="card-body">
      <h5 class="card-title" style="color:darkorange;"><%= @winner.user.username %></h5>
      <p class="card-text"><b></b> <%= @winner.comment %></p>
    </div>
  </div>
</div>