<%= render "users/shared/nav" %>
<%= render "users/shared/carousel" %>
<div class="container">
  <h4>Winners Feedback</h4>
  <div class="row row-cols-4">
    <img src="/home-test/image1.jpeg" class="col" width="250px" alt="dwasd" data-wow-delay="0.3s">
    <img src="/home-test/image1.jpeg" class="col" width="250px" alt="dwasd" data-wow-delay="0.3s">
    <img src="/home-test/image1.jpeg" class="col" width="250px" alt="dwasd" data-wow-delay="0.3s">
    <img src="/home-test/image1.jpeg" cclass="col"  width="250px" alt="dwasd" data-wow-delay="0.3s">
  </div>
  <h4>Coming Soon!</h4>
  <div class="row row-cols-4">
    <img src="/home-test/image1.jpeg" class="col" width="250px" alt="dwasd" data-wow-delay="0.3s">
    <img src="/home-test/image1.jpeg" class="col" width="250px" alt="dwasd" data-wow-delay="0.3s">
    <img src="/home-test/image1.jpeg" class="col" width="250px" alt="dwasd" data-wow-delay="0.3s">
    <img src="/home-test/image1.jpeg" cclass="col"  width="250px" alt="dwasd" data-wow-delay="0.3s">
  </div>
</div>
